*{
    margin: 0;
    padding: 0;
} 

#waves{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -10;
    bottom: 0px;
}

#waves .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/wave.png);
    background-size: 1000px 100px;
}

#waves .wave.wave1{ 
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
#waves .wave.wave2{ 
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
#waves .wave.wave3{ 
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}
#waves .wave.wave4{ 
    animation: animate2 30s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
#waves .waveTop{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/wave.png);
    transform: scaleY(-1);
    background-size: 1000px 100px;
    z-index: -10;
}

#waves .waveTop.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
#waves .waveTop.wave2{ 
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
#waves .waveTop.wave3{ 
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}
#waves .waveTop.wave4{ 
    animation: animate2 30s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes animate {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}
@keyframes animate2 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
    }
}
